.category{
    margin: 5em;
    padding: 5em;
    background-color: #3643ff42;
    border-radius: 10px;
}

.category-title{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.imgCat{
    width:30%
}

.containerVideos{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}


.explainerContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 80%;
    grid-gap: 5em;
    text-align: center;

}

.exIframe iframe{
    width: auto;
    height: auto;
}

@media (max-width: 600px){
    .category{
        padding:0.8em;
        margin:20px;

    }

    .imgCat{
        width:100%;
        margin:2em;
    }

    .explainerContainer{
        display:block;
        width: auto;

    }

    .containerVideos{
        margin: 0 auto;
    }
}